#SERVER
PORT=8080
IP=localhost
NODE_ENV=DEV

#MUSIC
DSAUDIO_URL=http://0.0.0.0:80
DSAUDIO_TOKEN=YOUR_TOKEN

#HYDRMETRIES
HYDRMETRIES_API_URL=http://api-url.io
HYDRMETRIES_ROOM_ID=AN_ID
OPENWEATHER_API_KEY=AN_API_KEY

#SERIAL
USB_SERIAL=/dev/usb
BAURATE=9600
